/* HTML Core Fonts:
   Arial, Arial Black, Comic Sans MS, Courier New, Georgia, Impact, Times New Roman, Trebuchet MS, Verdana, Webdings

   Possible Background colors:
   Azure, MintCream, GhostWhite
*/
/* Changing the behaviour of tag body */
body {
    background-color: Snow;
    font-family: Helvetica;
}
.social_media {
    font-family: Helvetica;
    font-size: 12px;
    display: inline;
    text-decoration: none;
    margin-top: 5px;
    /* margin-bottom: 5px;
    padding-bottom: 5px; */
    vertical-align: middle;
}
/* Header section */
table.headline {   
    width: 100%;
    height: 48px;
    border: none;
    border-spacing: 0px;
    /* padding: top right bottom left */
    padding: 2px 2px 2px 2px;
}
tr.headline {
    border: none;
    border-spacing: 0px;   
    /* padding: top right bottom left */
    padding: 2px 2px 2px 2px;
}
td.headline {
    border: none;
    border-spacing: 0px;
    /* padding: top right bottom left */
    padding: 2px 2px 2px 2px;
}
.header {
    font-family: "Trebuchet MS";
    font-weight: bold;
    font-size: 3.1vw;
    border: none;
    margin-top: 0px;
    margin-left: 10px;
    /* padding: top right bottom left */
    padding: 5px 5px 5px 5px;
}
/* Table tag section */
table {
    font-family: Helvetica;
    font-weight: normal;
    font-size: 1em;
    width: 70%;
    border-collapse: collapse;    
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: left;
    border: 1px dotted LightGrey;
    /* padding: top right bottom left */
    padding: 2px 2px 2px 2px;
}
table tr:nth-child(even) {
    background-color: #D6EEEE;
    border: 1px dotted LightGrey;
}
table th, td {
    border: 1px dotted LightGrey;
    /* padding: top right bottom left */
    padding: 5px 5px 5px 5px;
}
/* Changing the behaviour of tag pre */
pre {
    font-size: 105%;
}
/* Changing behaviour of tag p */
p {
    text-align: justify;
}
/* Changing behaviour of tag img */
img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;  
    /* padding: top right bottom left */
    padding: 0px 0px 0px 0px;
}
.banner {
    border-radius: 10px;
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 0px;
    float: left;
    /* padding: top right bottom left */
    padding: 0px 0px 0px 0px;
}
.logo {
    border-radius: 15%;
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 48px;
    height: 48px;
    float: left;
    /* padding: top right bottom left */
    padding: 0px 0px 0px 0px;
}
.avatar {
    display: block;
    margin-left: 37%;
    margin-right: 37%;
    border-radius: 50%;
    width: 26%;
    /* padding: top right bottom left */
    padding: 10px 0px 20px 0px;
}
.footer {
    text-align: center; 
    font-size: 0.7em;    
}    
.support {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}
/* Style list items by image. 
   Modify the list tag ul */
ul.art {
    list-style-type: '🎨';
}
ul.black_nib {
    list-style-type: '✒️';
}
ul.earth_americas {
    list-style-type: '🌎';
}
ul.globe {
    list-style-type: '🌐';
}
/* Modify list item style. */
li {
    margin: 1px;
    padding: 1px;
    margin-left: 10px;
    padding-left: 10px;
}
/* Crypto coin block style.
   Outer block is tag '_block' and inner block is tag '_inline'.
*/
.center_block {
    display: inline-block;
    border: 4px solid #79d6b5; 
    margin: auto;
    width: 99.5%;
    padding: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.center_inline {
    width: 50%; 
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;        
    padding: 0px;
}
/* Site navigation link styles. 
   Outer block is tag 'div' and inner block is tag 'a'. 
*/
.site_navigation_div {
    line-height: 175%;
}
.site_navigation_a {
    border: 0;
    outline: none;    
    text-decoration: none;
}   
/* Footer Buymeacoffee */
.bmac_img {
    display: block;
    margin-left: 43%;
    margin-right: 43%;
    width: 14%;
    /* padding: top right bottom left */
    padding: 10px 0px 20px 0px;
}
/* Footer w3c */
.w3c_img {
    display: block;
    margin-left: 47%;
    margin-right: 47%;
    width: 6%;
    /* padding: top right bottom left */
    padding: 10px 0px 20px 0px;
}
/* Footer SEO */
.seo_img {
    display: block;
    margin-left: 48%;
    margin-right: 48%;
    width: 4%;
    /* padding: top right bottom left */
    padding: 5px 0px 20px 0px;
}
.img_img {
    display: block;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 1%;
    margin-right: 69%;
    width: 30%;
    /* padding: top right bottom left */
    padding: 5px 0px 20px 0px;
}
